$about-btn-bg: #f8f8f8;

.about {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) and (max-width: 1365.99px) {
    padding: 32px 25px 0 25px;
  }

  @media (min-width: 768px) {
    flex-direction: row;
  }

  &__content {
    @media (min-width: 768px) {
      width: 50%;
    }
  }

  &__text {
    @media (min-width: 768px) {
      padding-right: 35px;
    }
  }

  &__btn-container {
    height: auto;
    width: 100%;
    background-color: $about-btn-bg;
    padding-left: 9px;
    margin-bottom: 16px;
  }

  &__text-btn {
    position: relative;
    padding-left: 23px;
  }

  .about__img {
    position: relative;
    object-fit: cover;
    left: -16px;
    width: 110%;
    height: auto;
    flex-grow: 1;

    @media (min-width: 768px) {
      border-radius: 6px;
      width: auto;
      height: 100%;
      left: auto;
      margin-right: auto;
    }
  }
}
