.btn-list {
  display: flex;
  list-style: none;

  &__item {
    position: relative;
    height: 40px;
    margin-left: 16px;

    @media (min-width: 1200px) {
      margin-left: 32px;
    }
    &__item:first-child {
      margin-left: 0;
    }
  }
}
