$footer-background-color: #f8f8f8;
$footer-border-color: #41f6d7;
$footer-font-color: #7e7e82;

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid $footer-border-color;
  background-color: $footer-background-color;
  padding-top: 16px;

  @media (min-width: 768px) {
    padding: 32px 24px 0 24px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__text {
    padding-bottom: 16px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: $footer-font-color;

    @media (min-width: 768px) {
      &:first-of-type {
        text-align: left;
      }

      &:last-of-type {
        text-align: right;
        width: 213px;
      }
    }
  }
}
