.main {
  display: block;
  position: relative;
  z-index: 0;
  padding-bottom: 40px;

  &__services {
    margin-top: 24px;
  }

  &__section-title {
    padding: 16px;
  }

  &__about {
    padding: 24px 16px 0 16px;

    @media (min-width: 768px) and (max-width: 1199.99px) {
      padding: 32px 25px 0 25px;
    }

    @media (min-width: 1200px) {
      flex-wrap: wrap;
      height: 320px;
      padding: 20px 0 0 34px;
    }
  }
}
