$order-btn-background-color: #ff3e79;
$order-btn-font-color: #fff;

.order-btn {
  width: 119px;
  height: 32px;
  border-radius: 16px;
  border: none;
  background-color: $order-btn-background-color;
  padding-left: 12px;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.15px;
  text-transform: uppercase;
  text-align: left;
  color: $order-btn-font-color;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }

  &::after {
    content: '';
    position: absolute;
    top: 11px;
    right: 18px;
    width: 11px;
    height: 11px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/dropdown-white.svg);
  }
}
