.overlay {
  @media (min-width: 768px) and (max-width: 1439.99px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.96;
    backdrop-filter: blur(5px);
    z-index: 2;
  }
}

.overlay--hide {
  display: none;
}
