.repair {
  height: 100%;

  &__list {
    width: 100%;
    list-style: none;
    padding: 16px 0 0 16px;

    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      row-gap: 16px;
      column-gap: 24px;
      overflow: hidden;
      margin: 24px 0 0 24px;
      padding: 0;
    }

    @media (min-width: 1120px) {
      padding: 32px 0 0 32px;
    }

    &--price {
      @media (min-width: 768px) {
        flex-direction: column;
        row-gap: 0;
        background-color: #fff;
        margin: 24px;
        border-radius: 6px;
        width: auto;
      }
    }

    &--hidden {
      @media (min-width: 768px) {
        height: 160px;
      }
    }
  }

  &__item {
    background: #ffffff !important;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    box-sizing: border-box;
    height: 72px;

    @media (min-width: 768px) {
      width: 224px;
    }

    @media (min-width: 1140px) {
      width: 240px;
    }

    &--type {
      height: 160px;
    }

    &--price {
      height: 200px;

      @media (min-width: 768px) {
        border: none;
        height: auto;
        width: auto;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 16px;
          width: calc(100% - 32px);
          height: 1px;
          background-color: #eaeaea;
        }

        &:last-of-type {
          &::after {
            display: none;
          }
        }
      }
    }
  }

  &__card-list {
    padding: 16px;
  }

  &__text-btn {
    position: relative;
    padding-left: 23px;
    margin-bottom: 16px;
  }

  &__btn-container {
    display: none;

    @media (min-width: 768px) {
      padding-left: 33px;
      padding-top: 24px;
      display: block;
      height: auto;
      width: 100%;
      background-color: #f8f8f8;
    }
  }

  &__headline {
    color: #1b1c21;
    font-weight: 600;
    align-self: flex-start;
  }

  &__link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 16px;

    &--price {
      display: block;
    }
  }

  &__button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ff3e79;
    align-self: flex-end;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/dropdown.svg);
    z-index: 3;

    &--end {
      align-self: flex-end;
    }
  }

  &--price {
    height: 268px;

    @media (min-width: 768px) {
      height: 100%;
    }
  }

  &--hidden {
    height: 140px;

    @media (min-width: 768px) {
      height: 260px;
    }

    @media (min-width: 768px) {
      height: 275px;
    }
  }

  &--type {
    @media (max-width: 320px) {
      height: 230px;
    }
  }
}
