.section-title {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #7e7e82;
  background-image: linear-gradient(to right, #f8f8f8, #fff);
  border-top: 1px solid #41f6d7;
}
