$icon-color: #ff3e79;

%icon-share {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.3s ease-in-out;
  background-color: $icon-color;
}

%scree-icon-share {
  position: absolute;
  content: '';
  top: 0px;
  right: 0px;
}

%hover {
  box-shadow: none;
  background-color: inherit;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

%divider {
  position: absolute;
  content: '';
  top: 4px;
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
  border-radius: 1px;
}

.service-btn {
  border: none;
  outline: none;
  cursor: pointer;
  @extend %icon-share;

  &--menu {
    background-image: url(../img/burger.svg);

    &::after {
      @extend %divider;
      top: 28px;
      left: 84px;

      @media (max-width: 767.98px) {
        display: none;
      }
    }
  }

  &--request {
    background-image: url(../img/repair.svg);

    &::before {
      @extend %divider;
      left: -20px;
    }
  }

  &--condition {
    background-image: url(../img/checkstatus.svg);
  }

  &--call {
    background-image: url(../img/call.svg);
  }

  &--chat {
    background-image: url(../img/chat.svg);
  }

  &--profile {
    background-image: url(../img/profile.svg);
  }

  &--search {
    background-image: url(../img/search.svg);
  }

  &--close {
    background-image: url(../img/close.svg);
  }

  &--screen {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #1b1c21;
    text-align: start;
    width: 173px;
    border-radius: 0;
    background-color: #f8f8f8;
  }

  &--screen-request {
    &::after {
      @extend %icon-share;
      @extend %scree-icon-share;
      background-image: url(../img/repair.svg);
    }

    &:hover {
      @extend %hover;
    }
  }

  &--screen-condition {
    &::after {
      @extend %icon-share;
      @extend %scree-icon-share;
      background-image: url(../img/checkstatus.svg);
    }

    &:hover {
      @extend %hover;
    }
  }
}
