.swiper {
  width: 100%;
  height: 140px;
  background-color: #f8f8f8;
  -webkit-mask: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0) 100%
  );
  mask: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0) 100%
  );
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background-color: #dddddd !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #b5b6bc !important;
}
